*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

:root {
  font-size: 62.5%;
}

#root {
  max-width: 550px;
  height: 100vh;
  margin: 0 auto; 
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.input {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #0AB28A;
  box-sizing: border-box;
  color: #0AB28A;
  display: block;
  font-size: 16px;
  margin-bottom: 30px;
  outline: none !important;
  opacity: .6;
  padding-bottom: 1.5rem;
}

.input::placeholder {
  color:black;
}

.formik-form {
  width: 80%;
  margin: 0 auto;
  
}

.spaced-div {
  margin-bottom: 7rem;
}

.register-button {
  width: 100%;
background-color: #0AB38A;
border: 0;
border-radius: 2.8rem;
display: table-cell;
vertical-align: middle;
font-weight: bold;
font-size: 2.4rem;
height: 4.5rem;
text-align: center;
vertical-align: middle;
color: #FFFFFF;
outline: none !important;
overflow: hidden;
transition: box-shadow 150ms;
}


/*HAMBURGER MENU STYLE*/
a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

a:hover
{
  color: #0AB28A;
}

#menuToggle
{
  display: block;
  position: absolute;
  top: 23px;
  right: 11px;  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-right: 7px;
  margin-bottom: 5px;
  position: relative;  
  background: #cdcdcd;
  border-radius: 3px;  
  z-index: 1;  
  transform-origin: 4px 0px;  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
   background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
  opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  opacity: 1;
  transform: rotate(-45deg) translate(0, -1px);
}

#menu
{
  position: absolute;
  width: 320px;
  margin: -50px 0 0 0;
  /* padding: 50px; */
  padding-top: 125px;
  right: -50%;
  height: 100vh;  
  background: white;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
  
}

#menu a li:hover {
  background-color: #0AB28A;
  color: white;
}

#menuToggle input:checked ~ ul
{
  transform: scale(1.0, 1.0);
  opacity: 1;
}

/* Recipes View */


.container { 
  /* width: 1200px; */
  margin: 0 auto ;
  columns: 3;
  column-gap: 1px;
  margin-top: 15%;
}

.container .box { 
  width: 100%;
  margin: 0 0 10px;
  padding: 10px;
  /* background-color: black; */
  overflow: hidden;
  break-inside: avoid;
}

.container .box img { 
  max-width:  100%;

}

.container .box p { 
  margin: 5px  0 0;
  padding: 0 0 10px;
  font-size: 16px  
}

@media (max-width:1200px) 
{
  .container {
    columns:4;
    width: calc(100% - 5%);
    box-sizing: border-box;
    padding: 10px 10px  10px 0;
  }

}

/* @media (max-width:768px) {
  .container {
    columns:2;
  }
} */
@media (max-width: 550px) {
  .container {
    columns: 2;
  }
}

.recipe {
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 9px;


}

.recipe-card {
background: rgba(196, 196, 196, 0.12);
border-radius: 15px;
text-align: start;
padding:2vh;
margin-top:2vh;
}

.recipe-card-tag {
  display: flex;
  justify-content: space-between;
  /* margin-right: 45px; */
}

.level-recipe {
  color:transparent;
  border: 1px solid;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  background-color:red;
}

/* index.css */ 
.modal {
  font-size: 12px;
}
.modal > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}
.modal > .content {
  width: 100%;
  padding: 10px 5px;
}
.modal > .actions {
  margin: auto;
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  text-align: center;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  top: 8px;
  font-size: 24px;
  background: #0AB28A;
  border-radius: 18px;
  border: 1px solid #cfcece;
}
.profile-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-evenly;
}

.profile-recipe-image {
  width: 45%;
  height: 100%;
  margin: 0 2px;

}

.profile-pic {
  width: 30%;
  border-radius: 50%;
}

.profile-bio {
  font-size: 1.4rem;
}

.num-likes-and-forks {
  font-size: 2.2rem;
  width: 80%;
  margin: 0 auto;
  padding: 2rem 0;
  display: flex;
  justify-content: space-evenly;
}

.likes-paragraph {
  font-size: 1.6rem;
}

.profile-food {
  margin-bottom: 6rem;
}

.profile-icons {
  display: flex;
  justify-content: space-between;
  margin: 3rem 3rem 0 3rem;
}

.profile-icons-image {
  height: 2.5rem;

}

.divider-wrapper {
  margin-bottom: 0.3rem;
  padding: 0 2.4rem;
}

#divider {
  border-width: 1px;
  background-color:  rgb(0, 172, 238);
  padding: 0 12px;
}

.profile-photo {
  margin-top: 2rem;
}

.profile-img {
  text-align: center;
    border: 1px solid black;
    width: 26%;
    height: 20%;
    margin: 2px auto;
    border-radius: 50%;
    color: white;
    background-color: #0AB28A;
}

.edit-profile-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 70vh;
  padding: 0 2px;
}

.edit-profile-form input, select {
  height: 8%;
  background: rgba(10, 179, 138, 0.08);
  width: 100%;
  border-radius: 2px;
}

.popup-content {
width: 80% !important;
background: #FFFFFF;
box-shadow: 0px 4px 85px #181818;

}

.edit-profile-form button {
  width: 30%;
  height: 7%;
  margin: 0 auto;
}

.edit-profile-form select option[data-default] {
  color: #888;
}

.edit-profile-form input::placeholder {
  padding-left: 20px;
}

.cancel-button{
  height: 35px;
  width: 8%;
  background-color: #E5E5E5;
  border-radius: 32%;
  position: relative;
  top: 0.5rem;
  right: 20.5rem;
}
.recipe {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  }
  .recipe-card {
  background: rgba(196, 196, 196, 0.12);
  border-radius: 15px;
  text-align: start;
  padding:2vh;
  margin-top:2vh;
  }
  .recipe-card-tag {
    display: flex;
    justify-content: space-between;
    /* margin-right: 45px; */
  }
  .level-recipe {
    color:transparent;
    border: 1px solid;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    background-color:red;
  }
  .recipe-nav {
    background-color: #0AB28A;
    height: 12rem;
  }
  .back-arrow-container {
    width: 37px;
    height: 30px;
    color: white;
    position: relative;
    top: 1rem;
    left: 1rem;
  }
  .submit-recipe-container {
    display: block;
    width: 37px;
    height: 30px;
    position: relative;
    left: 45rem;
    bottom: 2rem;
    background-color: inherit;
    border: none;
    outline: none;
  }
  .back-arrow {
    width: 100%;
  }
  .back-arrow {
    width: 100%;
    color: white;
  }
  .submit-recipe {
    width: 100%;
    color: white; 
  }
  
  input::placeholder {
    padding-left: 2rem;
    color: green; 
  }
  .progress-bar-container{
    height: 1rem;
    background-color: #C4C4C4;
    margin: 0 auto;
    width: 80%;
    border-radius: 5px;
  }

  